/* base */

body {
    background-color: #806443;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* reuseble classes */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.content-center {
    justify-content: center;
}

.margin-r {
    margin-right: 1.5em;
}
.margin-l {
    margin-left: 1.5em;
}

.space-around {
    justify-content: space-around;
}


/* header */

header {
    background-color: #352208;
    color: #7B6B43;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 2em;
    width: 100%;
}

/* main content */

.outer-div {
    background-color: #E1BB80;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 2em;
    max-width: 100%;
    max-height: 100%;
    padding: 1em;
}

#inner-div {
    max-width: 100%;
    max-height: fit-content;
}

/* Buttons */

#delete-btn {
    background-image: url('https://cdn.pixabay.com/photo/2019/12/09/11/43/antelope-4683342__340.jpg');
    background-size: cover;
    width: 200px;
    height: 90px;
    font-size: 1rem;
    color:#E1BB80;
    border-radius: 12px;
    margin: 1em;
}

#search-btn {
    background-image: url('https://cdn.pixabay.com/photo/2018/07/31/22/08/lion-3576045_960_720.jpg');
    background-size: cover;
    width: 200px;
    height: 90px;
    font-size: 1rem;
    color:#E1BB80;
    border-radius: 12px;
    margin: 1em;
}

#add-btn {
    background-image: url('https://images.pexels.com/photos/242796/pexels-photo-242796.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
    width: 200px;
    height: 90px;
    font-size: 1rem;
    color:#E1BB80;
    border-radius: 12px;
    margin: 1em;
}

#edit-btn {
    
    background-image: url('https://images.pexels.com/photos/2576780/pexels-photo-2576780.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    width: 200px;
    height: 90px;
    font-size: 1rem;
    color:#E1BB80;
    border-radius: 12px;
    margin: 1em
}

#animals-btn {
    background-color: #352208;
    background-size: cover;
    width: 100px;
    height: 50px;
    color:#E1BB80;
    border-radius: 12px;
    border-color: #E1BB80;
    margin: 0 4em;
}

/* extra styles for edit div */

.hide-edit-field {
    display: none;
}


.id-text {
    font-size: 12px;
    height: 1rem;
}

/* media */

@media (max-width: 1200px) {
    #inner-div {
        flex-direction: column;
    }
}